ion-toolbar {
  --background: var(--ion-color-light);
  --border-width: 0 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-item {
  --background: var(--ion-color-light);
  --padding-start: 0;
  --inner-padding-end: 0;
  border-radius: 30px;
  margin: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:focus-within {
    box-shadow: 0 4px 10px rgba(var(--ion-color-primary-rgb), 0.3);
  }
}

.chat-textarea {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

ion-button {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 1.5rem;
  color: var(--ion-color-primary);
}
