<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Enterprise prime aligned compute Platform</ion-title>
    <ion-buttons slot="end">
      <app-theme-toggle></app-theme-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <app-chat-message
      *ngFor="let message of messages; trackBy: trackByMessageId"
      [message]="message"
    ></app-chat-message>
  </div>
</ion-content>

<app-chat-input
  (sendMessage)="onSendMessage($event)"
  [disabled]="isLoading"
></app-chat-input>
