@import 'theme/_tokens.scss';

// Map tokens to Ionic variables (default mapping)
:root {
  --ion-color-primary: #{$primary-color};
  --ion-color-secondary: #{$secondary-color};
  --border-radius: #{$radius};
  --font-family-base: #{$font-base};
  --spacing-unit: #{$spacing-unit};
}
