<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea
        [(ngModel)]="userInput"
        placeholder="Ask the prime aligned compute platform anything..."
        (keyup.enter)="onSendMessage()"
        (ionInput)="onInputChange()"
        [disabled]="disabled"
        rows="1"
        autoGrow="true"
      ></ion-textarea>
      <ion-button 
        (click)="onSendMessage()" 
        [disabled]="disabled || !userInput.trim()"
        fill="solid"
        shape="round">
        <ion-icon name="send" *ngIf="!disabled"></ion-icon>
        <ion-icon name="hourglass" *ngIf="disabled"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
